function Counter.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop argument 0
push argument 1
pop argument 1
push argument 3
pop argument 3
push argument 2
pop argument 2
push pointer 0
return
function Counter.returnX 0
push argument 0
pop pointer 0
push this 2
return
function Counter.returnY 0
push argument 0
pop pointer 0
push this 1
return
function Counter.drawCounter 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
