function Rows.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop argument 0
push pointer 0
return
function Rows.returnX 0
push argument 0
pop pointer 0
push this 0
return
function Rows.drawRow 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 55
push constant 340
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 340
push constant 58
push constant 344
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 344
push constant 60
push constant 348
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 348
push constant 62
push constant 352
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 352
push constant 64
push constant 354
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 75
push constant 355
push constant 105
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 107
push constant 355
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 145
push constant 370
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 370
push constant 148
push constant 374
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 374
push constant 150
push constant 378
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 378
push constant 152
push constant 380
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 380
push constant 154
push constant 382
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 170
push constant 385
push constant 200
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 202
push constant 385
push constant 205
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
